{% extends "base.html" %}

{% block content %}
<div class="container">
<h1 class="text-capitalize">
<!-- https://exceptionshub.com/how-to-convert-string-to-uppercase-lowercase-in-jinja2.html  -->
  {{book.title}}
</h1>
<p>ISBN: {{book.isbn}}</p>
<p>Author: {{book.author}}</p>
<p>Title: {{book.title}}</p>
<p>Published: {{book.publication_year}}</p>
<p>Goodreads Rating Count: {{query['work_ratings_count']}}</p>
<p>Goodreads Average Rating: {{query['average_rating']}}</p>
<p>Site Reviews</p>
{% for review in reviews %}
    <p>Username: {{ review.username }}</p>
    <p>Review: {{review.review}}</p>
    <p>Rating: {{review.rating}}</p>
{% endfor %}
<div>
  {% if get_flashed_messages() %}
        <div class="alert alert-info text-center" role="alert">
            {{ get_flashed_messages() | join(" ") }}
        </div>
    {% endif %}
</div>
<form method="POST">
  <div class="field">
      <div class="control">
          <p>Rating(1-5):</p>
          <input class="form-control col-6" type="number" name="rating" placeholder="Enter rating" autofocus="" min="0" max="5" required>
      </div>
  </div>

  <div class="field">
    <div class="control">
        <p>Review</p>
        <textarea class="input is-large form-control" type="text" name="review" placeholder="Enter review" rows="3" required></textarea>
    </div>
</div>
<button class="button is-block is-info is-large">Enter</button>
</form>
</div>
{% endblock %}