{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="mb-1 text-center text-capitalize">Welcome {{session.user_name}}</h3>
    <h3 class="title">Search book</h3>
    <div class="box">
        <!-- helps with giving different colors for flash messages  -->
        <!-- https://pythonise.com/series/learning-flask/flask-message-flashing -->
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
        <span>{{ message}}</span>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <form method="POST" action="/search">
            <div class="field">
                <p>Enter: ISBN, title or author</p>
                <div class="control">
                    <input class="input is-large" type="text" name="q" placeholder="Book details" autofocus="">
                </div> 
            </div>
            <button class="button is-block is-info is-large is-fullwidth">Search</button>
        </form>
    </div>
</div>
{% endblock %}

